.DS_Store
node_modules
/dist
/electron/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/src/assets/games/1
/src/assets/games/8
/src/assets/games/9
/src/assets/games/10
/src/assets/games/11
/src/assets/games/12
/src/assets/games/13
/src/assets/games/14
/src/assets/games/15
/src/assets/games/16
/src/assets/games/17
/src/assets/games/18
/src/assets/games/19
/src/assets/games/20
/src/assets/games/21
/src/assets/games/22
/src/assets/games/23
/src/assets/games/24
/src/assets/games/26
/src/assets/games/27
/src/assets/games/28
/src/assets/games/29
/src/assets/games/30
/src/assets/games/31
/src/assets/games/32
/src/assets/games/33
/src/assets/games/34
/src/assets/games/35
/src/assets/games/36
/src/assets/games/37
/src/assets/games/38
/src/assets/games/39
/src/assets/games/40
/src/assets/games/41
/src/assets/games/42
/src/assets/games/43
/src/assets/games/44
