//all.css
::-webkit-scrollbar {
    display: none;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 1024px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

input, textarea, select {
    outline: none;
    border: none;
    background: transparent;
    resize: none;
}

.all_right {
    position: fixed;
    top: 60px;
    right: 40px;
}

.all_right_top {
    cursor: pointer;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 18px;
    color: #333;
    width: 200px;
    height: 60px;
    margin-bottom: 10px;
    opacity: .9;
}

.all_right_top img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.all_right_top p::after {
    content: '';
    display: inline-block;
    border-top: 8px solid #7A40F2;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: 5px;
    vertical-align: middle;
}

.all_right_bottom {
    cursor: pointer;
    opacity: 0;
    display: inline-block;
    background: #fff;
    border-radius: 50px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0px 0px 16px 4px rgba(46, 47, 57, 0.05);
    color: #000;
    width: 100%;
}

.all_right_bottom.active {
    opacity: 1;
}

.group {
    max-height: 200px;
    overflow-y: scroll;
}

.bottom_top {
    overflow-y: scroll;
}

.btn-height-40 {
    padding: 10px 23px !important;
}


/* 终端基本样式 */
.terminal {
    &-bg {
        background: url("assets/images/terminal-bg.png") no-repeat center center / cover;
        width: 100vw;
        height: 100vh;
        position: relative;

        &-content {
            background: rgba(255, 255, 255, .85);
            position: absolute;
            left: 30px;
            top: 30px;
            right: 30px;
            bottom: 30px;
            border-radius: 5px;
            box-shadow: 0 0 30px rgba(0, 0, 0, .1);
        }
    }

    &-btn {
        border-radius: 35px !important;
        height: 70px;
        position: relative;
        overflow: hidden;
        padding: 12px 35px !important;
        font-size: 28px !important;

        &-primary {
            color: #FFF !important;
            background-image: linear-gradient(180deg, #FEA9C0 0%, #F5645F 100%) !important;
            box-shadow: 0 5px 0 #E64741;
        }

        &:disabled, &[disabled], &.disabled {
            background: #d0d0d0 !important;
            box-shadow: 0 5px 0 #C0C0C0;
        }
    }
}
